.main{
  background-color: hsl(231deg 40% 32%);
  font-family: sans-serif;
  color: white;
margin: 0;
}
.ninja {
  color: white;
  margin-left: 3%;
}

.img1 {
  width: 50px;
  border-radius: 50%;
  /*padding-left: 5%;*/
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}


.search {
  margin-left: -10px;
  border: none;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  
  background-color: #272748;
  /*position: relative;*/
  
}  

.icon1 {
  position: absolute;
  z-index: 2;
  top: 15%;
  color: white;
}
.icon2 {
  position: absolute;
  z-index: 2;
  display: flex;
  color: white;
  right: 5%;
  /*margin-left: 19%;*/
  top: 15%;
  
}
.form {
  position: relative;
}
.main-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.list2 {

  display: flex;
  justify-content: space-around;
  padding-right: 5%;
  /*justify-content: space-between;*/
}

.icon3 {
  color: white;
  
  /*font-size: 20px;*/
}
.profile-img {
  border-radius: 50%;
 
}
.favourites {
  margin-left: 20%;
  color: white;
}
.nav-item {
   margin-right: 15%;
   margin-top: 10%;
}

.fa-bell {
  top: 10%;
  position: relative;
}


.main-section {
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.left-section {
  
  width: 74%;
 
}
.right-section {
  width: 24%;
  
  color: white;
}



.container {
  width: 100%;
  max-width: 800px;
  max-height: 300px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

input[type=radio] {
  display: none;
}

.c-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-43%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(43%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.queue {
  position: relative;
  color: cyan;
}

.queue:hover .q-hidden{
  display: block;
}
.q-hidden {
  width: 120px;
  height: 60px;
  color: black;
  background-color: white;
  position: absolute;
  right: 10%;
  top: 100%;
  display: none;
}
.q-hidden a{
  text-decoration: none;
  color: black;
  font-size: .8rem;
  padding: auto 2%;
  margin: 5% 8%;
}

.fa-caret-down {
  /*background-color: #2d4967;*/
  color: cyan;
}


.main-q {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.music-list{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-bottom: 2%;
  font-size: 12px;
}

.list-pic{
  width: 80%;
}
.list-div{
  width: 15%;
}
.music-item{
  margin-right: 4%;
}

.like-icon {
  margin-left: auto;

}


.playlist-pic {
  width: 100%;
}

.playlist-div {
  width: 20%;
  margin-right: 5%;
}

.playlist {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-bottom: 2%;
  font-size: 12px;
}

.onism {
  display: flex;
  justify-content: space-between;
  width: 85%;

}

.container2 {
  display: flex;
  justify-content: space-between;
}

.option{
  position: relative;
  left: 30%;
}

.artist-pic {
  width: 100%;
  border-radius: 50%;
}

.singer {
  display: flex;
  flex-direction: row;

}

.artist-div {
  width: 16%;
  margin-right: 2%;
  text-align: center;
  /*font-size: 1rem;*/
}


.stations {
  width: 100%;
  /*height: 100px;*/
  background-color: #182C61;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.stations-div {
  width: 14%;
  /*margin-right: 2%;*/
  padding: 1%;
}

.stations-pic {
  width: 100%;
}

.stations-div2 {
  width: 10%;
  /*margin-right: 2%;*/
  padding: 1%;
}

.stations-pic2 {
  width: 100%;
  border-radius: 50%;
}

.party {
  width: 32%;
  height: 150px;
  margin-left: 0;
  border-radius: 2%;
  position: relative;
  transition: transform 0.4s ease;
   transform-origin: 32%;
overflow: hidden;
}
.party-img{
   width: 100%;
    transition: transform 0.5s ease;
    transform-origin: 50% 50%;
}

.party-img:hover{
  transform: scale(1.2);
  width: 100%;
  opacity: .7;
}
.electronic {
  width: 32%;
  height: 150px;
  margin: auto;
  border-radius: 2%;
  position: relative;
   transition: transform 0.4s ease;
   transform-origin: 32%;
overflow: hidden;
}
.electronic-img{
   width: 100%;
    transition: transform 0.5s ease;
    transform-origin: 50% 50%;
}

.electronic-img:hover{
  transform: scale(1.2);
  width: 100%;
  opacity: .7;
}

.road-trip {
  width: 32%;
  height: 150px;
margin-right: 0;
border-radius: 2%;
position: relative;
 transition: transform 0.4s ease;
   transform-origin: 32%;
overflow: hidden;
}
.road-img{
   width: 100%;
    transition: transform 0.5s ease;
    transform-origin: 50% 50%;
}

.road-img:hover{
  transform: scale(1.2);
  width: 100%;
  opacity: .7;
}
.rock {
  display: flex;
  flex-direction: row;
margin-top: 3%;
/*position: relative;*/

}

.mood {
  position: absolute;
  top: 25%;
  left: 35%;
}

.mood1 {
  position: absolute;
    top: 27%;
  left: 23%;
  
}

.mood2 {
  position: absolute;
  top: 30%;
  left: 23%;
}



.english-pic {
  width: 15%;
  margin-right: 2.1%;
}

.english-pic1 {
  width: 100%;
}
.english-div {
  display: flex;
  flex-direction: row;
}
.last-eng {
  margin-right: 0;
}



.bottom {
  position: fixed;
  bottom: 0;
  background-color: #485460;
  height: 60px;
  width: 100%;
  padding: 1% 8%;
  color: white;

}

.music-play {
  width: 100%;
  margin-right: 2%;
}

.play {
  width: 100%;
  display: flex;
}


.name {
  height: 5%;
}

.play-div {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.m-item {
  width: 15%;
}

.music-name {
  width: 30%;
  margin-left: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.heart,.ban {
  width: 8%;
  margin-left: 1%;
}

.play-time {
  width: 30%;
}


.icons {
  display: flex;
justify-content: center;
align-items: center;
}
.play-icon{
  margin-right: 7%;
}

.progress-bar {
  width: 80%;
  height: 4px;
  background-color: grey;
  border-radius: 5px;
}

.progress-time {
  width: 30%;
  height: 4px;
  background-color: #2ecc71;
  border-radius: 5px;
  position: relative;
}

.progress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  bottom: -50%;
}




.volume {
  width: 20%;
  display: flex;
  justify-content: space-around;
  /*margin-right: 0;*/
  margin-left: 10%;
  align-items: center;
  
}

.volume-control {
  width: 30%;
  height: 3px;
  border-radius: 10%;
  background-color: white;
}

.volume-set {
  width: 50%;
  height: 3px;
  border-radius: 10%;
  background-color: lightgreen;
  position: relative;
}


.dot2 {
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -120%;
}


.bell-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: orangered;
  position: absolute;
  top: 0;
  right: 0;
}

.current-play-div {
  position: relative;
}
.current-play {
  position: absolute;
  left: 27%;
  top: 27%;
}

.current-play-img {

  opacity: 0.5;
}


.darshan {
  position: relative;
}
.darshan-play {
  position: absolute;
  top: 30%;
  left: 40%;
  display: none;
}
.darshan:hover .darshan-play{

  display: block;
}

.artist-pic:hover{
    opacity: .7;
}
.armaan{
  position: relative;
}
.armaan-play{
    position: absolute;
  top: 30%;
  left: 40%;
  display: none;
}
.armaan:hover .armaan-play{

  display: block;
}
.jubin{
  position: relative;
}
.jubin-play{
    position: absolute;
  top: 30%;
  left: 40%;
  display: none;
}
.jubin:hover .jubin-play{

  display: block;
}

.shreya{
  position: relative;
}
.shreya-play{
    position: absolute;
  top: 30%;
  left: 40%;
  display: none;
}

.shreya:hover .shreya-play{

  display: block;
}

.neha{
  position: relative;
}
.neha-play{
    position: absolute;
  top: 30%;
  left: 40%;
  display: none;
}

  .neha:hover .neha-play{

  display: block;
}

.arijit{
  position: relative;
}
.arijit-play{
    position: absolute;
  top: 30%;
  left: 40%;
  display: none;
}

.arijit:hover .arijit-play{

  display: block;
}

.armaan-play a{
  color: white;
}

.darshan-play a{
  color: white;
}
.shreya-play a{
  color: white;
}
.neha-play a{
  color: white;
}
.arijit-play a{
  color: white;
}
.jubin-play a{
  color: white;
}

