.main{
  background-color: hsl(231deg 40% 32%);
  font-family: sans-serif;
  color: white;
margin: 0;
}

/*navigation section*/
.ninja {
  color: white;
  margin-left: 3%;
}

.img1 {
  width: 50px;
  border-radius: 50%;
  /*padding-left: 5%;*/
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}


.search {
  margin-left: -10px;
  border: none;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  
  background-color: #272748;
  /*position: relative;*/
  
}  

.icon1 {
  position: absolute;
  z-index: 2;
  top: 15%;
  color: white;
}
.icon2 {
  position: absolute;
  z-index: 2;
  display: flex;
  color: white;
  right: 5%;
  /*margin-left: 19%;*/
  top: 15%;
  
}
.form {
  position: relative;
}
.main-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.list2 {

  display: flex;
  justify-content: space-around;
  padding-right: 5%;
  /*justify-content: space-between;*/
}

.icon3 {
  color: white;
  
  /*font-size: 20px;*/
}
.profile-img {
  border-radius: 50%;
 
}
.favourites {
  margin-left: 20%;
  color: white;
}
.nav-item {
   margin-right: 15%;
   margin-top: 10%;
}

.fa-bell {
  top: 10%;
  position: relative;
}



/*Main-section*/

.main-section {
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  position: relative;
}


/*Left section*/

.left-section {
  width: 74%;
}

.cold-play {
  width: 100%;
  height: 300px;
  background-color: #130f40;
}

.songs {
  margin-top: 3%;
  width: 100%;
  /*height: 50px;
  border: 1px solid black;*/
}

.music-list1{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-bottom: 2%;
  font-size: 12px;
  background-color: #2c3e50;
  margin-bottom: 1%;
  padding: 1%;
}

.music-item1{
  margin-right: 1%;
}

.list-pic1{
  width: 80%;
}
.list-div1{
  width: 6%;
}

.similar {
   margin-left: auto;
   display: flex;
   width: 10%;
   justify-content: space-around;
}

.coldplay-div {
  width: 39%;
  height: 100%;
}

.coldplay-img {
  height: 100%;
  width: 100%;
}

.cold-play {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 58%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.follow {
  display: flex;
  align-items: center;
}

.follow-list {
  margin-left: 15%;
}


#grad {
  background-image: linear-gradient(to right, #4834d4, #e056fd);
}
button{
  width: 130px;
  height: 35px;
  border: none;
  color: white;
}
small{
  color: lightgrey;
}

.tracks {
  margin-top: -3%;
}

.british-band {
  /*display: flex;*/
  position: relative;

}


.followers {
   /*float: right;*/
   position: absolute;
   left: 80%;
   top: 35%;
}






/*Right-section*/

.right-section {
  width: 24%;
  color: white;
}

.main-q {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}



.playlist-pic {
  width: 100%;
}

.playlist-div {
  width: 25%;
  margin-right: 5%;
}
.playlist {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-bottom: 2%;
  font-size: 12px;
}


.container2 {
  display: flex;
  justify-content: space-between;
}

.option{
  position: relative;
  left: 35%;
}



.music-list{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-bottom: 2%;
  font-size: 12px;
}

.list-pic{
  width: 80%;
}
.list-div{
  width: 15%;
}
.music-item{
  margin-right: 4%;
}

.like-icon {
  margin-left: auto;

}


.current-play-div {
  position: relative;
}
.current-play {
  position: absolute;
  left: 27%;
  top: 27%;
}

.current-play-img {

  opacity: 0.5;
}




/*Bottom-section*/


.bottom {
  position: fixed;
  bottom: 0;
  background-color: #485460;
  height: 60px;
  width: 100%;
  padding: 1% 8%;
  color: white;

}

.music-play {
  width: 100%;
  margin-right: 2%;
}

.play {
  width: 100%;
  display: flex;
}


.name {
  height: 5%;
}

.play-div {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.m-item {
  width: 15%;
}

.music-name {
  width: 30%;
  margin-left: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.heart,.ban {
  width: 8%;
  margin-left: 1%;
}

.play-time {
  width: 30%;
}


.icons {
  display: flex;
justify-content: center;
align-items: center;
}
.play-icon{
  margin-right: 7%;
}

.progress-bar {
  width: 80%;
  height: 4px;
  background-color: grey;
  border-radius: 5px;
}

.progress-time {
  width: 30%;
  height: 4px;
  background-color: #2ecc71;
  border-radius: 5px;
  position: relative;
}

.progress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  bottom: -50%;
}




.volume {
  width: 20%;
  display: flex;
  justify-content: space-around;
  /*margin-right: 0;*/
  margin-left: 10%;
  align-items: center;
  
}

.volume-control {
  width: 30%;
  height: 3px;
  border-radius: 10%;
  background-color: white;
}

.volume-set {
  width: 50%;
  height: 3px;
  border-radius: 10%;
  background-color: lightgreen;
  position: relative;
}


.dot2 {
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -120%;
}